<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<div id="app">
	<h2>Processors:</h2>
	<graph v-for="(load,name) in cpuload" :load=load :name=name :width=150 :height=150 :density=15></graph>
	<br/><h2>Memory:</h2>
	<graph :load=mem_av name="memory" :width=150 :height=150 :density=15></graph>
	<graph :load=swap_av name="swap" :width=150 :height=150 :density=15></graph>
	<br/><h2>Processes:</h2>
	<table class="table">
		<thead>
			<tr>
				<td>id</td>
				<td>cmd</td>
				<td>pid</td>
				<td>cpu</td>
				<td>mem</td>
			</tr>
		</thead>
		<tbody style="height: 100px !important;overflow: scroll;">
			<tr v-for="(i,ind) in proceses">
				<td> {{ind}}</td>
				<td> {{i.name}} </td>
				<td> {{i.pid}} </td>
				<td> {{i.cpu}} </td>
				<td> {{i.mem}} </td>
			</tr>
		</tbody>
	</table>
</div>

<script type="text/x-template" id="graph-template">
	<svg :width="width" :height="height" style="border: 1px solid black; margin-right: 10px; margin-top: 10px;" >
		<pattern id="smallGrid" width="10" height="10" patternUnits="userSpaceOnUse">
			<path :d='"M " + gridgap + " 0 L 0 0 0 " +  gridgap' fill="none" stroke="gray" stroke-width="0.5"/>
		</pattern>
		<rect :width=width :height=height fill="url(#smallGrid)"/>

		<rect width="100%" height="100%" fill="url(#grid)" />
		<text :x="width - 5" text-anchor="end" y="15" fill="black">{{name}}</text>
		<g>
			<polyline :points="points"  fill="none" :stroke="color" stroke-width=3 />
			<polygon :points="( 0+ ',' + height ) +' '+ points + ' ' + ( width + ',' + height )"  :fill="lcolor"/>
		</g>
	</svg>
</script>

<script type="text/javascript">

function randomColor(brightness){
  function randomChannel(brightness){
    var r = 255-brightness;
    var n = 0|((Math.random() * r) + brightness);
    var s = n.toString(16);
    return (s.length==1) ? '0'+s : s;
  }
  return '#' + randomChannel(brightness) + randomChannel(brightness) + randomChannel(brightness);
}

function colorLuminance(hex, lum) {
  hex = String(hex).replace(/[^0-9a-f]/gi, "");
  if (hex.length < 6) hex = hex.replace(/(.)/g, '$1$1');
  lum = lum || 0;
  var rgb = "#", c;
  for (var i = 0; i < 3; ++i) {
    c = parseInt(hex.substr(i * 2, 2), 16);
    c = Math.round(Math.min(Math.max(0, c + (c * lum)), 255)).toString(16);
    rgb += ("00" + c).substr(c.length);
  }
  return rgb;
}


const getprocesses = (t) =>
	t.map( x => x.trim().split(/\s+/) ).map(s => {
		let k = {};
		[k.pid, k.cpu, k.mem, ...k.name] = s;
		k.name = k.name.join(" ");
		return k;
	}).sort( (x,y) => ((parseFloat(x.cpu) > parseFloat(y.cpu)? -1 : 1) ) )

function getdata(t){
	let r1 = [...new Set(window.reqlist)]
	if ( r1.length == 0 ) return
	const inreq = (x) => window.reqlist.indexOf(x) != -1

	fetch("http://127.0.0.1:8080/"+r1.join("/")).then( r => r.json().then(x => {
		if ( inreq("cpuload") ){
			for ( k of Object.keys(x.cpuload) )
				if ( ! k.includes("cpu") )
					delete x.cpuload[k]
			Object.assign(app.cpuload, x.cpuload);
			app.$children.filter(x => x.name.includes("cpu")).map(x => x.savest())
		}

		if ( inreq("ps") )
			app.proceses = getprocesses(x.ps);

		if ( inreq("mem") ){
			app.mem_av = 100 * (x.mem[0].all - x.mem[0].free) / x.mem[0].all ;
			app.$children.filter(x => x.name.includes("mem")).map(x => x.savest())
		} 

		window.reqlist.length = 0;
	}) )
	
}

window.graph = Vue.component('graph', {
	props: {
		'load':Number,
		'width':Number,
		'height':Number,
		"density":Number,
		"name":String
	},
	template: '#graph-template',
	computed: {
		points: function(){
			return this.history.map( (x,_i) =>
					( this.gridgap * _i ) + ',' + ( 1 - x * 0.01 ) * this.height 
				).join(" ");
		},
		gridgap: function(){
			return this.width / this.density
		},
		lcolor:  function(){
			return colorLuminance(this.color,0.7)
		}
	},

	data: () => ({
		history: new Array(10).fill(0),
		color: randomColor(0)
	}),

	methods:{
		savest() {
			if (this.history.length > this.density )
				this.history.shift();
			this.history.push(this.load);
		}
	},

});

app = new Vue({
	el: '#app',
	data:{
		cpuload:{
			"cpu1":10,
		},
		proceses: [
			{name:"process1",pid:"12",cpu:"23",mem:"12"},
		],
		mem_av: 0,
		swap_av: 0,

	},
})

window.reqlist = ["cpuload","ps"];

setInterval(getdata,1000)
setTimeout(()=>{
	setInterval(() => window.reqlist.push("cpuload") ,1000);
	setInterval(() => window.reqlist.push("mem") ,1000);
	setInterval(() => window.reqlist.push("ps") ,10000);
},100);
</script>
